/**
 * _markdown.scss
 *  Markdown editor component styling
 */


/******************************************************************************
 *                                                                               
 *     BASIC LAYOUT & STYLING
 * 
 *****************************************************************************/

/**
 * Outer wrapper for the markdown editor
 * Important - sliding window design relies on this
 */
#markdown-editor-wrapper {
    width: 100%;
    overflow: hidden;
}
 

 /**
  * The main mechanism for the sliding window which comprises
  * the editor and the preview
  * Forces a width of 200% by default, so that on mobile devices
  * the preview pane starts hidden (it will take 50% of 200% = 100%)
  */
 #sliding-window {
     width: 200%;
     overflow: hidden;
     display: flex;
     align-items: center;
 }
 

/**
 * A pane frame is the outer container of one of the two panes of
 * the window (1. editor, 2. preview).
 */
 .pane-frame {
     width: 50%;
 }
 

 /**
  * The user textbox is the innermost container for user text
  * In the case of the editor, it's a textarea
  * For the preview it's a simple div
  * Height and padding are mere styling concerns
  */
 .user-textbox {
     margin: 0 auto;
     width: 100%;
     height: 50vh;
     padding: 2rem;
 }
 
 .user-textbox--editor {
     resize: none;
     display: block;
     max-width: 800px;
 }

 .user-textbox--preview {
     overflow-y: scroll;
 }
 
 

/******************************************************************************
 *                                                                               
 *    SLIDING WINDOW ANIMATION 
 * 
 *****************************************************************************/

 /**
  * The sliding window animation moves the editor / preview around
  * without altering their basic shape
  */

 div[class*="slide-"] {
     animation-duration: 1s;
     animation-fill-mode: forwards;
 }
 
 .slide-left {
     animation-name: slide-left;
 }
 
 .slide-right {
     animation-name: slide-right;
 }
 
 @keyframes slide-left {
     from {  
         transform: translateX(0%); 
     }
     to { 
         transform: translateX(-50%); 
     }
 }
 
 @keyframes slide-right {
     from { 
         transform: translateX(-50%); 
     }
     to { 
         transform: translateX(0%); 
     }
 }
 


/******************************************************************************
 *                                                                               
 *   RESPONSIVE 
 * 
 *****************************************************************************/

 /**
  * In desktop, the editor and the preview are both visible at once by default.
  * Counter-intuitively, when the sliding window is 200% it means that
  * both preview and editor are visible.
  */

 @media (min-width: $brkpoint-xl) {
     #sliding-window {
         width: 100%;
     }
 
     @keyframes slide-left {
         from {  
             width: 100%;
         }
         to { 
             width: 200%;
         }
     }
 
     @keyframes slide-right {
         from { 
             width: 200%;
         }
         to { 
             width: 100%;
         }
     }
 }