// _navbar.scss
// customisations for the top navbar

// ...

$navbar-height: 4rem;

$color-bg-navbar: white;
$color-link-navbar: $accent-color;
$color-bg-btn-navbar: $accent-color;
$color-btn-navbar: white;

#container-nav {
    position: relative; // needed to position the burger
}

.navbar {
    height: $navbar-height;
    width: 100%;
    background-color: $color-bg-navbar !important;
    box-shadow: 0 0 1px 1px rgba(25, 25, 25, 0.1);
    margin-bottom: 1px;
    a {
        color: $color-link-navbar;
    }
    .btn {
        background-color: $color-bg-btn-navbar;
        color: $color-btn-navbar;
    }
}

.navbar-brand {
    font-size: 1.1rem !important;
    font-family: $headline-font-family;
    text-shadow: 1px 1px 3px rgba(25,25, 25,0.2);
    font-weight: 900;
}

.logo-mobile {
    display: none;
}


// Hide the desktop-only portion of the navbar
@media (max-width: 640px) {
    .nav-desktop {
        display: none !important;
    }

    .logo-desktop {
        display: none;
    }

    .logo-mobile {
        display: unset;
    }
}