{
    parser: "babel-eslint",
    "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
    },
    "extends": [
        "airbnb-base", 
        "plugin:react/recommended"
    ]
}
