/**
 * _account.scss
 *  Styling for the user account page
 */


.container-inner__accountpage {
    width: 66%;
}

.btn__account-opt {
    float: right;
}

@media (max-width: $brkpoint-lg) {
    .container-inner__accountpage {
        width: 80%;
    }
}

@media (max-width: $brkpoint-md) {
    .container-inner__accountpage {
        width: 98%;
    }
}