// custom styles four courses page

// ...

$color-bg-coursetable: white;
$table-header-font: $font-2-b;

$table-width-adj: (
    code: 15,
    name: 100,
    reviews: 1,
    rating: 1,
    staff: 1,
    difficulty: 1,
    workload: 1 
);


@each $key, $width-adj in $table-width-adj {
    .table-width-adj-#{$key} { 
        flex: #{$width-adj} 2 auto!important; 
        width: 80 !important;
        min-width: 25px !important;
    }
}

.table-header {
    font-family: $table-header-font;
    // font-weight: bold;
}

.wrapper-course-table {
    background-color: $color-bg-coursetable;
}

.container-coursepage-inner {
    margin: 0 auto;
    width: 90%;
    padding: 1.6rem;
}

.table-search-input {
    font-size: 1rem;
}

.-btn {
    border-radius: 1px !important;
    width: 40% !important;
}

.-next {
    .-btn {
        float: right;
    }
}


// Hide the desktop-only portion of the navbar
@media (max-width: 640px) {
    .container-coursepage-inner {
        width: 100%;
        padding: 0.8rem;
    }

    .-btn {
        width: 100% !important;
    }
}


// SVG background
#container-coursepage {
    background-color: #0c2438;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23295b85' stroke-width='1.1' stroke-opacity='0.5'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
