// custom styles four courses page

// ...

$color-bg-coursetable: white;

$table-width-adj: (
    code: 15,
    name: 100,
    reviews: 1,
    rating: 1,
    staff: 1,
    difficulty: 1,
    workload: 1 
);


@each $key, $width-adj in $table-width-adj {
    .table-width-adj-#{$key} { 
        flex: #{$width-adj} 2 auto!important; 
        width: 80 !important;
        min-width: 25px !important;
    }
}

.wrapper-course-table {
    background-color: $color-bg-coursetable;
}

.container-coursepage-inner {
    margin: 0 auto;
    width: 90%;
    padding: 1.6rem;
}

.table-search-input {
    font-size: 1rem;
}

.-btn {
    border-radius: 1px !important;
    width: 40% !important;
}

.-next {
    .-btn {
        float: right;
    }
}


// Hide the desktop-only portion of the navbar
@media (max-width: 640px) {
    .container-coursepage-inner {
        width: 100%;
        padding: 0.8rem;
    }

    .-btn {
        width: 100% !important;
    }
}
