.container-inner--writepage {
    height: calc(100vh - #{$navbar-height});
}
.review-form-items {
    background-color: palevioletred;
}

.review-editor-box {
    height: 80%;
    background-color: aquamarine;
}

.review-submit-box {
    background-color: orange;
}