.col-stats {
    background-color: lightblue;
    min-height: calc(100vh - #{$navbar-height});
    padding: 1.6rem;
}

.col-reviews {
    background-color: lightcoral;
    padding: 1.6rem;
}

div[class*="react-select"] {
    color:#3b4351 !important;
}


.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}


@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: $brkpoint-sm) {
    .filter-wrap {
        padding: 0 0.2rem;
    }
}

@media (max-width: $brkpoint-md) {
    .col-stats {
        padding: 0.8rem;
        min-height: unset;
    }

    .col-reviews {
        padding: 0.8rem;
    }
}