/**
 * _write.scss
 *  Styling for the review write page
 */

 
/**
 * The container takes the whole page minus the navbar height
 */
.container-inner--writepage {
    height: calc(100vh - #{$navbar-height});
    width: 85%;
    margin: 0 auto;
    padding: 1.6rem;
}
 
.btn--editor {
    float: right;
}

.btn--send-review {
    margin-left: 0.8rem;
}

/**
 * In movile, the container is wider and the buttons have a set width
 */
@media (max-width: $brkpoint-sm) {
    .container-inner--writepage {
        height: unset;
        width: 98%;
        padding: 0.8rem;
    }

    /**
     * 48% width * 2 buttons = 96%
     * + 4% margin = 100%
     */
    .btn--editor {
        width: 48%;
        font-size: 0.7rem !important;
    }

    .btn--send-review {
        margin-left: 4%;
    }
} 