/**
 * _write.scss
 *  Styling for the review write page
 */

 
/**
 * The container takes the whole page minus the navbar height
 */
.container-inner--writepage {
    height: calc(100vh - #{$navbar-height});
    width: 85%;
    margin: 0 auto;
    padding: 1.6rem;
}
 
.btn--editor {
    float: right;
}

.btn--send-review {
    margin-left: 0.8rem;
}

/**
 * In movile, the container is wider and the buttons have a set width
 */
@media (max-width: $brkpoint-sm) {
    .container-inner--writepage {
        height: unset;
        width: 98%;
        padding: 0.8rem;
    }

    /**
     * 48% width * 2 buttons = 96%
     * + 4% margin = 100%
     */
    .btn--editor {
        width: 48%;
        font-size: 0.7rem !important;
    }

    .btn--send-review {
        margin-left: 4%;
    }
} 

/**
 * autosuggest styling
 */
.course-select-col {
    position: relative;
}

.course-select-row {
    position: relative;
}

.course-select-header {
    position: absolute;
    bottom: 0;
}

.suggest__input--editor {
    width: 100%;
    // font-size: 1rem;
}

.suggest__container--editor {
    position: relative;
    width: 100%;
}

.suggest__suggestions-container--editor {
    position: absolute;
    width: 100%;
    z-index: 3000;
    background-color: white;
    border: 0;
    box-shadow: 0 .25rem 1rem rgba(48,55,66,.15);
}

.suggest__suggestions-list--editor {
    list-style-type: none;
    margin: 0.8rem 0;
    text-align: left;
}

.suggest__suggestion--editor {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #dadee4;
    margin: 0;
    padding: 0.3rem 0.3rem 0.3rem;
}

.suggest__suggestion--highlighted--editor {
    background-color: lighten($light-blue-b, 20%); 
    cursor: pointer;
    a {
        text-decoration: none;
    }
}
