// customizations for spectre.css
// includes extensions and variable overrides

// ...

// extend margin/padding utilities; not enough!

$util-size-extensions: (
  3: 0.8rem,
  4: 1.2rem,
  5: 1.6rem
);

@each $index, $size in $util-size-extensions {
  .ml-#{$index} { margin-left: $size; }
  .mr-#{$index} { margin-right: $size; }
  .mb-#{$index} { margin-bottom: $size; }
  .mt-#{$index} { margin-top: $size; }
  .m-#{$index} { margin: $size; }
  .p-#{$index} { padding: $size; }
  .px-#{$index} {
    padding-left: $size !important;
    padding-right: $size !important;
  }
  .py-#{$index} {
    padding-top: $size !important;
    padding-bottom: $size !important;
  }
  .mx-#{$index} {
    margin-left: $size !important;
    margin-right: $size !important;
  }
  .my-#{$index} {
    margin-top: $size !important;
    margin-bottom: $size !important;
  }
}

.bg-white {
  background-color: white;
}

.btn {
  &.btn-accent {
    background: $accent-color;
    border-color: $accent-color-dark;
    color: $light-color;
    &:focus,
    &:hover {
      background: darken($accent-color-dark, 2%);
      border-color: darken($accent-color-dark, 5%);
      color: $light-color;
    }
    &:active,
    &.active {
      background: darken($accent-color-dark, 4%);
      border-color: darken($accent-color-dark, 7%);
      color: $light-color;
    }
    &.loading {
    &::after {
      border-bottom-color: $accent-color;
      border-left-color: $accent-color;
    }
    }
  }
}

// The source lightens only at 10% which has an abhorrent effect
// Increase lighten to 45% for subtle effect
.form-input {
  &:not(:placeholder-shown) {
    &:invalid {
      &:focus {
        @include control-shadow($error-color);
        background: lighten($error-color, 45%); }
    }
  }
}