// _variables.scss
// app-wide sass variables

// ...

$navbar-height: 3rem;

// Follows spectre.css setup
$brkpoint-xs: 480px;
$brkpoint-sm: 600px;
$brkpoint-md: 840px;
$brkpoint-lg: 960px;
$brkpoint-xl: 1280px;
